.order-form {
	flex: 1 1 100%;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.order-form__group {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.order-form__input {
	padding: 10px;
	border: 1px solid #bdc3c7;
	border-radius: 5px;
}